@model IEnumerable<Order>
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Усі замовлення";
}
<div style="width:100%" class="mt-2">
    <h4>Замовлення</h4>
    @if (Model != null && Model.Count() > 0)
    {
        <table class="table table-striped">
            <tr>
                <th>Дата замовлення</th>
                <th>Ім'я</th>
                <th>Email</th>
                <th>Номер телефону</th>
                <th>Адреса</th>
                <th>Статус оплати</th>
                <th>Статус замовлення</th>
                <th>Дії</th>
            </tr>
            @foreach (var order in Model)
            {
                <tr>
                    <td>@order.CreateDate.ToString("dd-MM-yyyy")</td>
                    <td>@order.Name</td>
                    <td>@order.MobileNumber</td>
                    <td>@order.Email</td>
                    <td>@order.Address</td>
                    <td>@order.PaymentMethod | @(order.IsPaid ? "Оплачено" : "Не оплачено")</td>
                    <td>@order.OrderStatus.StatusName</td>
                    <td>
                        <button type="button" data-bs-toggle="modal" data-bs-target="#modal-@order.Id" class="btn btn-primary">
                            Деталі замовлення
                        </button>
                        <a asp-action="UpdateOrderStatus" asp-route-orderId="@order.Id" class="btn btn-info">Змінити статус замовлення</a>
                        <a asp-action="TogglePaymentStatus" asp-route-orderId="@order.Id" class="btn btn-info">Змінити статус оплати</a>

                        @* Додаємо блок модального вікна *@
                        @await Html.PartialAsync("/Views/AdminOperations/_OrderDetailModal.cshtml", new OrderDetailModalDTO { DivId = order.Id.ToString(), OrderDetail = order.OrderDetail })
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <h5>Замовлень немає</h5>
    }
</div>
