@model IEnumerable<Book>
@{
    Layout = "_AdminLayout";
}

<h2>Книги</h2>

<a asp-action="AddBook" asp-controller="Book" class="btn btn-primary">Додати книгу</a>

@if (Model?.Count() > 0)
{
    <table class="table table-striped my-2">
        <tr>
            <th>Зображення</th>
            <th>Книга</th>
            <th>Автор</th>
            <th>Жанр</th>
            <th>Ціна</th>
            <th>Анотація</th>
            <th>Дії</th>
            
        </tr>

        @foreach (var book in Model)
        {
            <tr>
                <td>
                    @if (string.IsNullOrWhiteSpace(book.Image))
                    {
                        <img src="/Images/NoImage.png" style="width:80px;height:100px" alt="зображення книги" />
                    }
                    else
                    {
                        <img src="/images/@book.Image" style="width:80px;height:100px" alt="зображення книги" />
                    }
                </td>
                <td>@book.BookName</td>
                <td>@book.AuthorName</td>
                <td>@book.Genre.GenreName</td>
                <td>@book.Price</td>
                <td>@book.Annotation</td> <!-- Виведення анотації для кожної книги -->
                <td>
                    <a asp-action="UpdateBook" asp-controller="Book" asp-route-id="@book.Id" class="btn btn-success">Редагувати</a>
                    <a asp-action="DeleteBook" asp-controller="Book" asp-route-id="@book.Id" class="btn btn-danger" onclick="return window.confirm('Ви впевнені?')">Видалити</a>
                </td>
                
            </tr>
        }
    </table>
}
else
{
    <h3>Записів немає</h3>
}



